.text {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #ffffff;
}

h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #ffffff;
}

p {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #ffffff;
}

ol {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #ffffff;
}

body {
        padding: 25px;
        background-color: #1a1a1a;
        color: white;
        font-size: 25px;
}

.light-mode {
        background-color: white;
        color: black;
}
